<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>iUnoT</title>

    <script>
        const savedTheme = localStorage.getItem("theme");

        if (savedTheme) {
            document.documentElement.setAttribute(
                "data-bs-theme",
                savedTheme
            );
        }
    </script>

    <link href="https://cdn.jsdelivr.net/npm/@tabler/core/dist/css/tabler.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/alert.css}">
    <link rel="stylesheet" th:href="@{/css/chatbot.css}">
</head>
<body>
<div class="page">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div layout:fragment="content"></div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>

<div th:replace="~{fragments/chatbot :: chatbot}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/theme.js}"></script>
<script th:src="@{/js/chatbot.js}"></script>
<script th:src="@{/js/alert/alerts-count.js}"></script>

<th:block layout:fragment="script"></th:block>

</body>
</html>
