<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="footer">
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            <a href="https://github.com/nhnacademy-aiot3-iUnoT"
                               class="link-secondary"
                               target="_blank"
                               rel="noopener noreferrer">
                                <i class="ti ti-brand-github me-1" aria-hidden="true"></i>GitHub
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item text-secondary">© 2026 iUnoT</li>
                        <li class="list-inline-item text-secondary">NHN Academy AIoT 팀 프로젝트</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>

</body>
</html>
