<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="header">
    <header class="navbar navbar-expand-md">
        <div class="container">
            <h1 class="navbar-brand pe-3">
                <a th:href="@{/}" class="text-decoration-none">
                    iUnoT
                </a>
            </h1>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a th:href="@{/organizations/me}" class="nav-link active">조직관리</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/storages}" class="nav-link">저장소관리</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/inventories}" class="nav-link">재고관리</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/stock-transactions}" class="nav-link">입출고 내역</a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/environmentMonitoring}" class="nav-link">환경관리</a>
                    </li>
                </ul>

                <div class="navbar-nav flex-row order-md-last">

                    <div class="nav-item me-3 position-relative">
                        <a href="/alerts" class="nav-link px-2 text-reset notification-link" title="알림함">
                            <i class="ti ti-bell fs-2"></i>
                            <span id="unread-notification-badge" class="notification-badge" style="display: none;">0</span>
                        </a>
                    </div>

                    <div class="nav-item me-2">
                        <button type="button" class="btn btn-icon btn-ghost-secondary" id="theme-toggle">
                            <i class="ti ti-moon fs-2 moon-icon"></i>
                            <i class="ti ti-sun fs-2 sun-icon"></i>
                        </button>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown">
                            <span class="avatar avatar-sm">
                                <i class="ti ti-user"></i>
                            </span>
                            <div class="d-none d-xl-block ps-2"> 이름</div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" th:href="@{/mypage}">
                                회원정보
                            </a>
                            <a class="dropdown-item" th:href="@{/organizations/me}">
                                나의조직
                            </a>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item">
                                    로그아웃
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</th:block>
</body>
</html>