<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="header">
    <header class="navbar navbar-expand-md">
        <div class="container-xl">
            <div class="ms-auto d-flex align-items-center gap-2">

                <div class="theme-toggle">
                    <button
                            type="button"
                            class="btn btn-icon btn-ghost-secondary"
                            id="theme-toggle">

                        <i class="ti ti-moon fs-2 moon-icon"></i>
                        <i class="ti ti-sun fs-2 sun-icon"></i>

                    </button>
                </div>

                <!-- 사용자 메뉴 -->

            </div>
        </div>
    </header>
</th:block>
</body>
</html>
