<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="sidebar">
    <aside class="navbar navbar-vertical navbar-expand-lg">
        <div class="container-fluid">
            <h1 class="navbar-brand">
                <a href="/">
                    iUnoT
                </a>
            </h1>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">
                        <span class="nav-link-icon">
                            <i class="ti ti-home"></i>
                        </span>
                            <span class="nav-link-title">
                            Dashboard
                        </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/inventory">
                        <span class="nav-link-icon">
                            <i class="ti ti-package"></i>
                        </span>
                            <span class="nav-link-title">
                            재고관리
                        </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/organization">
                        <span class="nav-link-icon">
                            <i class="ti ti-building"></i>
                        </span>
                            <span class="nav-link-title">
                            조직관리
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</th:block>
</body>
</html>
