.theme-toggle{
    position:fixed;
    top:24px;
    right:24px;
    z-index:9999;
}

.theme-toggle button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

:root{
    --login-bg:#f5f5f5;
    --brand-bg:#ededed;
    --card-bg:#ffffff;
}

[data-bs-theme="dark"]{
    --login-bg:#0f172a;
    --brand-bg:#1e293b;
    --card-bg:#182433;
}

body{
    background:var(--login-bg);
}

.login-card{
    width:100%;
    max-width:980px;
    border-radius:28px;
    overflow:hidden;

    background:var(--card-bg);
}

.brand-section{
    background:var(--brand-bg);
    height:100%;
}

.brand-character{
    width:320px;
    max-width:100%;
}

.form-control,
.btn{
    height:54px;
}

.form-control::placeholder {
    font-size: 16px;
}
