<div th:fragment="modal" class="modal fade" id="createOrganizationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/organizations}" method="post">

                <div class="modal-header">
                    <h5 class="modal-title">
                        조직 생성
                    </h5>

                    <button class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">
                            사업자번호
                        </label>
                        <input type="text" class="form-control" name="businessNumber" id="businessNumber"
                               placeholder="사업자번호(숫자만)를 입력하세요" maxlength="10" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            조직명
                        </label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="조직명을 입력하세요" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">
                            Owner 이메일
                        </label>

                        <input type="email" class="form-control" name="email" id="email" placeholder="owner@example.com">
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">
                        취소
                    </button>

                    <button id="createBtn" type="submit" class="btn btn-primary">
                        생성
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
